.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-flexbox;
  overflow: hidden;
}

.card img {
  display: inline-flexbox;
  margin: 0;

  float: left;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
