@font-face {
  font-family: Carnevalee;
  src: url('../fonts/carnevalee.ttf');
}
@font-face {
  font-family: Mael;
  src: url('../fonts/mael.ttf');
}
body, html {
  height: 100%;
  font-family: 'Raleway', 'sans-serif';
}
a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.magic-nav {
  color: white;
  opacity: 0;
}
.magic-nav:hover {
  opacity: 1;
}
#fullpage {
  height: 100%;
}
.welcome-container {
  height: 100%;
  position: relative;
  background-color: #000;
}
.navbar-brand {
  color: #FFF;
  text-decoration: none;
}
.navbar-brand:hover {
  color: #E99120;
}
.nav-link {
  color: #FFF;
  text-decoration: none;
}
.nav-link:hover {
  color: #E99120;
}
.navbar-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.flap-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.tent-img {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}
.carnival-banner {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 18%;
  transform: translateX(-50%);
}
/* for mobile hide */
@media only screen and (min-width: 320px) and (max-width: 480) {
  .mobile-hide{
    display: none;
  }
}
/* for mobile show */
@media only screen and (min-width: 320px) and (max-width: 480) {
  .mobile-show{
    display: none;
  }
}

.title-banner {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  font-family: Mael;
  text-align: center;
  color: white;
  font-size: 70px;
}
.about-container {
  background: radial-gradient(circle at bottom, navy 0, black 100%);
  height: 100vh;
  overflow: hidden;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; 
}
.col-md-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%; 
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; 
}
.space {
  background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
  border: 1px dashed purple;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  }

  .stars1 {
  animation: space 180s ease-in-out infinite;
  background-image: 
      radial-gradient(1px 1px at 25px 5px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 125px 20px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 50px 75px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 15px 125px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 110px 80px, white, rgba(255, 255, 255, 0));
  }

  .stars2 {
  animation: space 240s ease-in-out infinite;
  background-image: 
      radial-gradient(1px 1px at 75px 125px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 100px 75px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 199px 100px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 20px 50px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 100px 5px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 5px 5px, white, rgba(255, 255, 255, 0));
  }

  .stars3 {
  animation: space 300s ease-in-out infinite;
  background-image: 
      radial-gradient(1px 1px at 10px 10px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1px 1px at 150px 150px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 60px 170px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(1.5px 1.5px at 175px 180px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2px 2px at 195px 95px, white, rgba(255, 255, 255, 0)), 
      radial-gradient(2.5px 2.5px at 95px 145px, white, rgba(255, 255, 255, 0));
  }

  @keyframes space {
  40% {
      opacity: 0.75;
  }
  50% {
      opacity: 0.25;
  }
  60% {
      opacity: 0.75;
  }
  100% {
      transform: rotate(360deg);
  }
  }

.welcome-header {
  padding-bottom: 20px;
}
.text-desc {
  margin-bottom: 40px;
  padding: 10px 20px;
}
.div-img-container {
  position: relative;
}
.div-img-back {
  display: block;
  width: 100%;
  height: auto;
}
.div-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E99120;
}
.div-img-container:hover .div-img-overlay {
  opacity: 1.0;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.event-card {
  margin-bottom: 80px;
}
.prat-container {
  height: 100%;
  position: relative;
  text-align: center;
}
.upper-flap-event {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
}
.bottom-tent {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
  transition-duration: 2s;
}
.bottom-tent:hover {
  transform: translateY(-50px) translateX(-50%);
}
.below-tent-text {
  position: absolute;
  font-size: 18px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.prat-card {
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 8px #888888;
}
.prat-card-img {
  margin: -20px auto 0px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 16px #888888;
}
.prat-header {
  text-align: center;
  padding: 40px 20px 60px;
}

.scroll-downs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width :34px;
  height: 55px;
}
.scroll-downs:hover .scroll-indicator {
  opacity: 0;
}
.scroll-downs:hover .mousey {
  background-color: #FFF;
}
.scroll-indicator {
  position: absolute;
  left: 0;
  top: 30%;
  white-space: nowrap;
  color: white;
  transform: translateX(-25%);
  transition: opacity .4s;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #9E9E9E;
  border-radius: 25px;
  opacity: 1.0;
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color .4s;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #9E9E9E;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.scroll-downs:hover .scroll-text {
  background-color: white;
  color: black;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.sponsor-container {
  padding: 40px 0px;
}
.sponsor-heading {
  padding: 0px 0px 10px 0px;
}

.daysModal {
  font-family: 'Carnevalee';
  color: rgb(222, 68, 73);
}
.dates-table {
  margin: 0 0 1.5em 0 ;
  max-width: 150%;
}
.dates-table tr {
  border-bottom: 1.15pt solid #232526;
  border-collapse: collapse;
}
.dates-table th, .dates-table td, .dates-table tr {
  overflow: hidden;
}
.table-cal {
  width: 20%;
  padding: 5px 5px 5px 20px;
}
.table-cal-dates {
  color: #fec503;
  font-size: 22px;
  width: 100%;
}
.table-cal-month {
  color: #fec503;
  font-size: 22px;
  width: 100%;
}
.table-cal-event {
  font-size: 24px;
  color: white;
  width: 100%;
  padding-left: 0px;
  text-transform: capitalize;
}
.sponsors-header {
  text-align: center;
  padding: 30px 20px 20px;
}
.magic-item {
  font-family: Mael;
  font-size: 30px;
  opacity: 0;
}
.magic-item:hover {
  opacity: 1;
}

/*neel start*/
div.p_footer{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* neel end */


@media screen and (max-width: 575px) {
  h1.title-banner{
    font-size: xx-large;
  }
  img .carnival-banner {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  img .carnival-banner {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
    transform: translateX(-50%);
  }

  .carnival-banner {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 60%;
    transform: translateX(-50%);
  }

  .flap-top {
    size: 10%;
    position: absolute;
    left: -25%;
    top: 0;
    min-width: 150%;
  }

  .div-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 80%;
    opacity: 0;
    transition: .5s ease;
    background-color: #E99120;
    margin: auto;
  }
  .div-img-back {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 3px;
  }
  .welcome-header {
    padding: 30px 20px 20px;
  }
  .sponsors-header {
    text-align: center;
    /* margin-bottom: 40px; */
    padding: 30px 20px 20px;
  }
  .flap-top-right {
    width: 40%;
  }
  .flap-bottom-left {
    width: 40%;
  }
  .bottom-tent {
    width: 50%;
  }
  .upper-flap-event {
    position: absolute;
    width: 70%;
  }
  .below-tent-text {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 1199px) {

}
