body, html {
  height: 100%;
}
#fullpage {
  height: 100%;
}
.welcome-container {
  height: 100%;
  position: relative;
  background-color: #000;
}
.navbar-brand {
  color: #FFF;
  text-decoration: none;
}
.navbar-brand:hover {
  color: #E99120;
}
.nav-link {
  color: #FFF;
  text-decoration: none;
}
.nav-link:hover {
  color: #E99120;
}
.navbar-style {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.flap-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.tent-img {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
}
.carnival-banner {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 18%;
  transform: translateX(-50%);
}
.title-banner {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  margin-top: 10px;

  width: 100%;
  font-size: 4.5rem;
}
.about-container {
  height: 100%;
  position: relative;
  text-align: center;
}
.flap-top-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}
.flap-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 30%;
}
.text-desc {
  margin-bottom: 40px;
}
.div-img-container {
  position: relative;
}
.div-img-back {
  display: block;
  width: 100%;
  height: auto;
}
.div-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E99120;
}
.div-img-container:hover .div-img-overlay {
  opacity: 1.0;
}
.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.event-card {
  margin-bottom: 80px;
}

.scroll-downs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width :34px;
  height: 55px;
}
.scroll-downs:hover .scroll-indicator {
  opacity: 0;
}
.scroll-downs:hover .mousey {
  background-color: #FFF;
}
.scroll-indicator {
  position: absolute;
  left: 0;
  top: 30%;
  white-space: nowrap;
  color: white;
  transform: translateX(-25%);
  transition: opacity .4s;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #9E9E9E;
  border-radius: 25px;
  opacity: 1.0;
  box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color .4s;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #9E9E9E;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.scroll-downs:hover .scroll-text {
  background-color: white;
  color: black;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}



/* @include media-breakpoint-up(md) {
  .event-card {
    margin-bottom: 10px;
  }
} */

 /*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575px) {
  h1.title-banner{
    font-size: xx-large;
  }

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
  .carnival-banner {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 60%;
  transform: translateX(-50%);
  }

  .flap-top {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 30%;
}

  .div-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E99120;
  margin: auto;
}
.div-img-back {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    border-radius: 3px;
}

}

/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}
